@import "baseGrid";

body {
  background: lightblue;
}

.personal,
.address,
.document {
  border: 2px solid red;
  border-radius: 15px;
  padding: 30px 15px;
  //width: 500px;
  margin: {
    top: 20px;
  };
}

.form {

  &__title {
    display: block;
  }

  &__block {
    width: 500px;
    position: relative;
    margin: {
      top: 10px;
    };
  }

  &__label {
    display: flex;
    flex-direction: column;

    &-radio {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: flex-end;

      &:hover {
        background: dodgerblue;
      }
    }

    &-checkbox {
      display: flex;
      align-items: center;

      &:hover {
        background: dodgerblue;
      }
    }
  }

  &__select {
    width: 100%;
    border: 1px solid silver;
    border-radius: 4px;
    background: white;
    padding: 5px 10px;
    height: 42px;
  }

  &__description {
    user-select: none;

    &-radio {
      margin-left: 5px;
    }

    &-checkbox {
      margin-left: 5px;
    }
  }

  &__radio {
    margin-top: -2px;
  }

  &__error {
    position: absolute;
    right: -210px;
    border-radius: 5px;
    bottom: 30px;
    width: 200px;
    background: lightgoldenrodyellow;
    padding: 10px 20px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: -10px;
      left: 0;
      border: {
        top: 6px solid lightgoldenrodyellow;
        left: 6px solid lightgoldenrodyellow;
        bottom: 6px solid transparent;
        right: 6px solid transparent;
      };
    }
  }
}

input {
  border: 1px solid silver;
  border-radius: 4px;
  background: white;
  padding: 5px 10px;
  height: 30px;
}

.multiselect {
  width: 500px;

  &__box {
    position: relative;
  }

  &__select {
    width: 100%;
    border: 1px solid silver;
    border-radius: 4px;
    background: white;
    padding: 5px 10px;
    height: 42px;
  }

  &__over {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__checkboxes {
    border: 1px #dadada solid;
    background: white;

    &-label {
      display: flex;
      align-items: center;

      &:hover {
        background: dodgerblue;
      }
    }
  }

  &__checkbox {
    margin-left: 10px;
  }

  &__description {
    display: block;
    margin-left: 10px;
    user-select: none;
  }
}

.dirty {
  border-color: #5A5;
  background: #EFE;
}

.dirty:focus {
  outline-color: #8E8;
}

.error {
  border-color: red;
  background: #FDD;
}

.error:focus {
  outline-color: #F99;
}
